client/public/workflows/json/Business Email Compromise (BEC).json
{
  "name": "Business Email Compromise (BEC)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "8e7420b0-6870-4e98-a921-52a06f1dfde8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -240,
        304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const emailsToCheck = [\n    \"user1@yourcompany.com\",\n    \"user2@yourcompany.com\",\n    \"admin@yourcompany.com\"\n];\n\nreturn emailsToCheck.map(email => ({\n    json: { email: email }\n}));"
      },
      "id": "483c8505-2a14-4cc8-b2e3-9543d05f0fef",
      "name": "List Emails to Check",
      "type": "n8n-nodes-base.code",
      "position": [
        -32,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.pwnedpasswords.com/range/{{ encodeURIComponent($json.email) }}",
        "options": {}
      },
      "id": "c08be339-bf15-4eb5-87e6-4bc6dda161ca",
      "name": "Query HIBP API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        192,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5ceba6a6-a52f-4ed8-85b8-5e68e0cda8ac",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.body }} ",
              "rightValue": "[]"
            }
          ]
        },
        "options": {}
      },
      "id": "dba27819-1fca-4b8c-b1c8-5f15efe9bf0b",
      "name": "Is Breached?",
      "type": "n8n-nodes-base.if",
      "position": [
        400,
        304
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "id",
          "value": "[YOUR_SECURITY_ALERT_CHANNEL_ID]"
        },
        "text": "=🚨 *URGENT: Data Breach Alert!* 🚨\\nEmail address *{{ $json.email }}* was found in a data breach.\\nImmediate action is required!",
        "otherOptions": {}
      },
      "id": "c690f00d-cf8f-4c81-873e-3859f5edde0b",
      "name": "Send High-Priority Alert",
      "type": "n8n-nodes-base.slack",
      "position": [
        656,
        304
      ],
      "webhookId": "7001b3bc-3d19-40cb-b34a-a6bcc8b01f11",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Flow",
        "height": 240,
        "width": 1184
      },
      "id": "68fb8cb2-c7c4-42cc-83e6-ba0a9ecbad96",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Problem\nAs an AI Agent developer, you know that one of the biggest threats to businesses is compromised credentials. Employees often use corporate emails to sign up for third-party services. When those services are breached, their credentials can leak, and attackers can use them to try and gain access to your internal systems (known as a **credential stuffing attack**). Manually monitoring every email account for breaches is an impossible task.\n\n## Solution\nThis n8n workflow offers a proactive and efficient solution. It **periodically checks a list of company email addresses against the HaveIBeenPwned (HIBP) API**—a trusted database of leaked credentials. If an email address is found in a data breach, the workflow will immediately send an **urgent alert to Slack**, allowing your security team to take swift action, such as forcing a password reset or temporarily suspending the account, before attackers can exploit the leaked data.\n\n## For Whom\nThis simple yet vital automation is ideal for:\n* **Security & IT Teams:** To proactively monitor at-risk credentials.\n* **System Admins & HR:** To detect security risks on employee accounts.\n* **Small and Medium-Sized Businesses (SMEs):** To implement a strong, yet easy-to-deploy, layer of foundational security.\n* **Any Organization:** That wants to reduce the risk of credential stuffing attacks and protect internal data.\n\n---\n\n## Scope\n* **What it does:**\n    * Runs on a customizable schedule (e.g., every week).\n    * Checks a list of specified email addresses against the HaveIBeenPwned database.\n    * Sends a detailed, urgent alert to a designated Slack channel if a breach is detected for an email.\n* **What it doesn't do:**\n    * This workflow **does not automatically fix the issue** or reset passwords. It is a detection and alerting tool only.\n    * It does not monitor other security vectors, such as network activity or file changes.\n\n---\n\n### How to Set Up\nHere is a step-by-step guide to implement this workflow in your n8n instance.\n\n1.  **Prepare Your Credentials**\n    * **HIBP API Key:** You need to get an **API key** from haveibeenpwned.com. This key is required to access the API.\n    * **Slack Credential:** Create a **Slack credential** in n8n. Note the **Channel ID** of your security alert channel (e.g., `#security-alerts`).\n\n2.  **Import the Workflow JSON**\n    * Create a new workflow in n8n and import the JSON code (which was provided in a previous response).\n\n3.  **Configure the Nodes**\n    * **Scheduled Check (Cron):** Set the schedule according to your preference (e.g., every Monday at 8:00 AM).\n    * **List Emails to Check (Code):** Open this node and **edit the `emailsToCheck` array**. Enter the list of company email addresses you want to monitor.\n    * **Query HIBP API (HTTP Request):** Open this node and in the \"Headers\" section, add the header `hibp-api-key` with the value of your HIBP API key.\n    * **Send High-Priority Alert (Slack):** Select your **Slack credential** and replace `YOUR_SECURITY_ALERT_CHANNEL_ID` with your actual **Channel ID**.\n\n4.  **Test and Activate**\n    * **Manual Test:** Run the workflow manually. You can test with a known breached email address (you can find examples online) to ensure the alert is triggered.\n    * **Verify Output:** Check your specified Slack channel to confirm that the alert is sent with the correct information.\n    * **Activate:** Once you're confident in its function, activate the workflow. n8n will now automatically monitor your important accounts for data breaches on the schedule you set.",
        "height": 1200,
        "width": 1184,
        "color": 5
      },
      "id": "7e384c8d-80c6-4f0e-a1a8-9217763470d2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        544
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Is Breached?": {
      "main": [
        [
          {
            "node": "Send High-Priority Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query HIBP API": {
      "main": [
        [
          {
            "node": "Is Breached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Emails to Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Emails to Check": {
      "main": [
        [
          {
            "node": "Query HIBP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d709e75-5734-4add-be12-fa2331e9b3e0",
  "meta": {
    "instanceId": "2e054795eb266fa430683bb616f3e195ac30a3ed41cf98309fb965ae2fab7aba"
  },
  "id": "gjVe7dLvZDbq4Pgy",
  "tags": []
}