client/public/workflows/json/Unusual VPN Login.json
{
  "name": "Unusual VPN Login",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ip",
              "value": "={{ $json.body.context.ip }}"
            },
            {
              "name": "userAgent",
              "value": "={{ $json.body.context.userAgent }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.body.originalTimestamp }}"
            },
            {
              "name": "url",
              "value": "={{ $json.body.context.page.url }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1dd7806-9959-42fd-b6cd-6a7503661c07",
      "name": "Extract relevant data",
      "type": "n8n-nodes-base.set",
      "position": [
        -384,
        1424
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "705ca4c4-0a38-4ef8-9de9-abc8b3686dc6",
        "options": {}
      },
      "id": "232d1a4a-cb29-41a6-9637-dda4f6ce5015",
      "name": "New /login event",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -864,
        1424
      ],
      "webhookId": "705ca4c4-0a38-4ef8-9de9-abc8b3686dc6",
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.noise }}"
            },
            {
              "value1": "={{ $json.riot }}"
            }
          ]
        }
      },
      "id": "fdf5820e-8bdf-473e-b4ce-205b4f909074",
      "name": "Unknown threat?",
      "type": "n8n-nodes-base.if",
      "position": [
        592,
        1952
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM staging_n8n_cloud_frontend.user_signed_in WHERE user_id='{{ $('Extract relevant data').item.json.userId }}' ORDER BY received_at DESC LIMIT 10;",
        "options": {}
      },
      "id": "4cb43ec4-2657-4d60-9662-7ed2b5d87ac5",
      "name": "Get last 10 logins from the same user",
      "type": "n8n-nodes-base.postgres",
      "position": [
        832,
        1936
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.context_ip }}",
        "options": {}
      },
      "id": "c7c7bff5-29d1-4ad8-ab2b-a2c08bdcb76a",
      "name": "Query IP API1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        2064
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.city }}",
              "operation": "notEqual",
              "value2": "={{ $('Merge').item.json.city }}"
            }
          ]
        }
      },
      "id": "0b9f1279-2a9f-43b4-90dc-fae5a003da49",
      "name": "New location?",
      "type": "n8n-nodes-base.if",
      "position": [
        1312,
        2064
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.userparser.com/1.1/detect",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ua",
              "value": "={{ $json.context_user_agent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28fbb508-447c-445e-83fc-8e18f056d3cf",
      "name": "Parse User Agent",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1136,
        2352
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ea9719b4-5888-49e2-ad39-16c2b184accf",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        176,
        2224
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.browser.name }}",
              "operation": "notEqual",
              "value2": "={{ $('Complete login info').first().json.browser.name }}"
            },
            {
              "value1": "={{ $json.operatingSystem.name }}",
              "operation": "notEqual",
              "value2": "={{ $('Complete login info').first().json.operatingSystem.name }}"
            },
            {
              "value1": "={{ $json.device.type }}",
              "operation": "notEqual",
              "value2": "={{ $('Complete login info').first().json.device.type }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "0a7996d4-6393-4caa-ab68-306e3b066fa1",
      "name": "New Device/Browser?",
      "type": "n8n-nodes-base.if",
      "position": [
        1344,
        2352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "b9bed160-40f4-4f66-95c2-a4407078f958",
      "name": "Complete login info",
      "type": "n8n-nodes-base.merge",
      "position": [
        416,
        1952
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM staging_n8n_cloud_frontend.users WHERE id='{{ $('Extract relevant data').item.json.userId }}'",
        "options": {}
      },
      "id": "5a877f1f-7a1d-42eb-935b-b4d14e9e29f8",
      "name": "Query user by ID",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1904,
        2064
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "7a98bc57-dbdd-4736-b4b8-58453ec4a36e",
      "name": "New Location",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1536,
        2000
      ],
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2d7a4f38-8c80-4193-adb6-4a0223292293",
      "name": "New Device/Browser",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1552,
        2336
      ],
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2745188c-4670-4d0e-8e2a-5bc3ecb6bf11",
      "name": "User has email?",
      "type": "n8n-nodes-base.if",
      "position": [
        2240,
        2080
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "html": "<p>\n  Hello {{ $json.first_name || $json.username }},\n</p>\n<p>\n  We've detected a recent login to your n8n account from a new device or location. Here are the details:\n</p>\n<p>\n  <ul>\n    <li><b>Username:</b> {{ $json.username }}</li>\n    <li><b>Date & Time:</b> {{ $('Extract relevant data').item.json.timestamp }}</li>\n    <li><b>Location:</b> {{ $('Complete login info').item.json.city }}, {{ $('Complete login info').item.json.country }}</li>\n    <li><b>Device:</b> {{ $('Complete login info').item.json.operatingSystem.name }} ({{ $('Complete login info').item.json.device.type }})</li>\n  </ul>\n</p>\n<p>\n  If this was you, you can disregard this email. We just wanted to make sure it was you who logged in from a new device or location.\n</p>\n  If this wasn't you, we recommend resetting your password right away.\n</p>\n\n<style>\n  p {\n    font-family: sans-serif;\n  }\n</style>"
      },
      "id": "6a6f6e59-19a0-4f6b-99e9-d007a6bc06b9",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "position": [
        2464,
        2032
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $('User has email?').item.json.email }}",
        "subject": "Important: Usual Login Attempt Detected",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "5a6d3868-f0a4-498d-b2e5-40ecf016812c",
      "name": "Inform user",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2624,
        2032
      ],
      "typeVersion": 2,
      "webhookId": "a60c43b6-1bad-41d1-a516-f237d81d36f4",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.noise }}",
              "value2": true
            }
          ]
        }
      },
      "id": "1f5d3b01-57b6-4809-90c5-493c20b844cb",
      "name": "noise?",
      "type": "n8n-nodes-base.if",
      "position": [
        224,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#slack-message-test"
        },
        "text": "=Suspicious login attempt detected:\n  - Priority: {{ $json.priority }}\n  - User: {{ $('Extract relevant data').item.json[\"userId\"] }}\n  - IP: {{ $('Extract relevant data').item.json[\"ip\"] }}\n  - Timestamp: {{ $('Extract relevant data').item.json[\"timestamp\"] }}\n  - User Agent: {{ $('Extract relevant data').item.json[\"userAgent\"] }}\nGreyNoise report: https://viz.greynoise.io/ip/{{ $('Extract relevant data').item.json[\"ip\"] }}",
        "otherOptions": {}
      },
      "id": "3757047e-2b20-4dc0-b409-4f778be2c786",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1440,
        1216
      ],
      "typeVersion": 2,
      "webhookId": "f1d44874-f39b-46d2-9581-168b53dafcdf",
      "disabled": true
    },
    {
      "parameters": {
        "value1": "={{ $json.trust_level }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 1,
              "output": 3
            },
            {
              "operation": "equal",
              "value2": 2,
              "output": 2
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "7a8392e3-ffd8-4013-b0d7-8aa5377e4741",
      "name": "Check trust level",
      "type": "n8n-nodes-base.switch",
      "position": [
        656,
        1072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.classification }}",
        "rules": {
          "rules": [
            {
              "value2": "malicious"
            },
            {
              "value2": "benign",
              "output": 2
            },
            {
              "value2": "unknown",
              "output": 1
            }
          ]
        }
      },
      "id": "7754881b-9faf-4573-9f05-c233010656f7",
      "name": "Check classification",
      "type": "n8n-nodes-base.switch",
      "position": [
        656,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![greynoise](https://i.imgur.com/4vSwTkY.png)\n## 游뚽 Advanced Threat Prioritization with GreyNoise Data\n\nIn this section of the workflow, the integration of GreyNoise data, particularly in the `GreyNoise` node, plays a pivotal role in refining the threat prioritization process. This node's interaction with GreyNoise ensures that each alert is given an appropriate level of attention, based on the nature of the IP address involved.\n\n-   **GreyNoise Analysis for Inbound Threats:** When the `GreyNoise` node identifies an IP address, it queries GreyNoise, considering both NOISE and RIOT datasets ([More here](https://docs.greynoise.io/docs/riot-data)). The response from this node guides the subsequent steps:\n    -   **High Priority for Unknown IPs:** The `Check trust level` and `Check classification` nodes act here. If GreyNoise has no data on the IP (noise:false, riot:false), the priority is set high in the `游댮 Priority: HIGH` node. This indicates a potential targeted attack, requiring immediate analyst review.\n    -   **Low to Medium Priority for Common Business Services:** IPs identified as part of common business services (riot:true), depending on their trust level and operation status, are assigned low to medium priority by the `游리 Priority: MEDIUM` and `游릭 Priority: LOW` nodes. This reflects a lower risk of malicious activity.\n-   **Classification-Based Prioritization:** The workflow also considers the GreyNoise classification of the IP (malicious, benign, unknown) in the `Check classification` node:\n    -   **Malicious IPs:** Medium-high priority, suggesting opportunistic but potentially harmful activity, set in the `游댮 Priority: HIGH` node.\n    -   **Benign IPs:** Low priority, as these are usually harmless scans by known actors, designated in the `游릭 Priority: LOW` node.\n    -   **Unknown IPs:** Low-medium priority, indicating possibly innocuous but unverified activity, managed by the `游리 Priority: MEDIUM` node.\n-   **Additional Context for Outbound Threats:** For outbound connections, the workflow prioritizes alerts based on whether the IP is a known service provider or a known device scanning the internet, as interpreted by the `GreyNoise` node. High priority is assigned to outbound connections to scanning devices in the `游댮 Priority: HIGH` node, indicating potentially unwanted behavior.\n\n\nThis approach, leveraging GreyNoise's advanced data analytics, showcases n8n's capability to deliver sophisticated cybersecurity solutions. By integrating this intelligent prioritization mechanism, the workflow ensures that your security team focuses on the most pressing threats first, enhancing overall security posture.\n\n### Authentication - No Free Tier Available\n\nTo set your API key for GreyNoise, open the `GreyNoise` node, and add a new authentication credential. Choose `Generic Credential Type` then `Header Auth`. Lastly, under `Credential for Header Auth` set the name to `key` and value to your `api key`.",
        "height": 1185.151137495839,
        "width": 1443.8164871528645
      },
      "id": "45c31c3d-2776-4d1d-b191-38ad26ca1cfb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![Slack](https://i.imgur.com/iKyMV0N.png)\n## 游닉 Slack Notification for Alert Dissemination\n\nThe `Slack` node plays a crucial role in alert communication. It ensures that once a threat is identified and prioritized, the relevant information is quickly disseminated to your security team via Slack.\n\n-   **Timely Alert Notifications:** The `Slack` node is configured to send detailed alerts to a specified Slack channel. These alerts include critical information such as the priority level, user ID, IP address, timestamp, and user agent of the suspicious login attempt. It ensures that your team is promptly informed about potential threats, allowing for quick action to mitigate risks.\n-   **Integration of Data from Previous Nodes:** This node adeptly utilizes data extracted and processed by earlier nodes like `Extract relevant data`. It enriches the Slack message with this detailed information, providing a comprehensive overview of the threat.\n-   **Direct Link to GreyNoise Analysis:** Additionally, the Slack message includes a direct link to the GreyNoise visualization for the IP in question. This link, crafted using data from the `Extract relevant data` node, allows team members to quickly access in-depth information about the IP, facilitating a faster and more informed response.\n\n\nThis approach demonstrates n8n's ability to integrate seamlessly with communication tools like Slack, ensuring that cybersecurity teams are always informed and ready to respond to threats efficiently.",
        "height": 818.6128004838087,
        "width": 560.0194854548777
      },
      "id": "a78a9945-d2ae-42d9-a5b1-cebfbfb4d897",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![postgre](https://i.imgur.com/OEqO3MQ.png)\n## 游댃  Synthesizing Data for Comprehensive Analysis\nThe `Complete login info` node serves as a crucial juncture, integrating data from multiple sources for a detailed analysis of each login attempt.\n\n-   **Combining Multiple Data Streams:** The `Complete login info` node merges information from the `GreyNoise`, `IP API`, and `UserParser` nodes. This process creates a comprehensive dataset by combining threat intelligence from GreyNoise, geolocation details from IP-API, and user agent information from UserParser.\n-   **Enhanced Context for Security Analysis:** By amalgamating data from these varied sources, the workflow gains a multi-faceted view of each login attempt. This enriched context is essential for identifying potential security threats with higher precision.\n-   **Efficient Workflow Structure:** The integration of these diverse data points exemplifies n8n's efficiency in managing complex workflows. By funneling various streams of information into a single node, the workflow ensures that all relevant data is considered in unison during the analysis phase.\n-   **Informing Subsequent Workflow Steps:** The dataset prepared by the `Complete login info` node lays the groundwork for further steps in the workflow. It provides the necessary context for nodes that follow, such as the `Unknown threat?` and `Get last 10 logins from the same user` nodes, to make informed decisions based on a holistic view of the login event.",
        "height": 894.3487921624444,
        "width": 696.8700988949365
      },
      "id": "9cea27e8-a910-430a-b5ef-04eee8710d59",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![ipapi](https://i.imgur.com/OMhn14b.png)\n## 游늸 Assessing Login Location Anomalies\n\nThe nodes following `Get last 10 logins from the same user` are dedicated to analyzing login location patterns to identify any anomalies.\n\n-   **Fetching Historical Login Data:** The `Get last 10 logins from the same user` node queries a Postgres database to retrieve the last 10 login records for a user. This data forms the baseline for identifying unusual login locations.\n\n-   **Comparing Current and Historical Geolocation Data:** The `Query IP API1` node fetches the geolocation data for the current login attempt. This data is then compared with historical login locations in the `New location?` node.\n\n-   **Identifying Location Anomalies:** The `New location?` node checks if the city from the current login is different from the cities in the user's login history. This comparison is crucial to detect any unusual login patterns, such as logins from new, potentially suspicious locations.\n\n-   **Routing Based on Location Consistency:** Depending on whether the current login location matches historical patterns, the workflow branches to either the `New Location` or `Known Location` nodes. The `New Location` node triggers when a login from a new city is detected, indicating a potential security risk. Conversely, the `Known Location` node is activated when the login location is consistent with historical data, suggesting a regular login pattern.",
        "height": 892.4220900613532,
        "width": 663.6738255654103
      },
      "id": "c5e4a9cb-1c1c-4046-b385-592895a6d7fe",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![gmail](https://i.imgur.com/f6f6my0.png)\n## 游닎 Notifying Users About Unusual Login Attempts\n\nIn the final section of the \"Suspicious Login Detection\" workflow, the nodes `User has email?`, `HTML`, and `Inform user` work together to notify users about unusual login attempts, enhancing the security and responsiveness of the system.\n\n-   **Verifying Email Availability:** After fetching user details with `Query user by ID`, the `User has email?` node checks if the user has an email address on record. This verification is crucial to ensure that the notification process proceeds only for users with valid email addresses.\n\n-   **Crafting the Notification Message:** The `HTML` node is responsible for creating the email content. It generates a well-formatted HTML message informing the user of a recent login from a new device or location. The message includes details like username, timestamp, location, and device information, providing the user with specific insights into the login activity.\n\n-   **Sending the Email Alert:** Finally, the `Inform user` node sends out the email notification. This node uses Gmail to dispatch the message crafted by the `HTML` node to the user's email address obtained in the previous steps.\n\n-   **Enhancing User Awareness and Security:** By notifying users of unusual login activities, the workflow not only enhances security but also empowers users to take immediate action if the login was not authorized. This could include steps like changing their password or contacting the security team.",
        "height": 841.097003209987,
        "width": 629.1148167417672
      },
      "id": "8e08e655-01e1-4237-a101-bf681f948f53",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![postgre](https://i.imgur.com/OEqO3MQ.png)\n## 游빌 Querying User Details for Enhanced Context\n\nThe `Query user by ID` node plays a key role in gathering additional user-specific information to provide enhanced context for the security analysis.\n\n-   **User Information Retrieval:** The `Query user by ID` node interacts with a Postgres database to fetch detailed information about the user whose ID is associated with the current login attempt. This information is crucial for understanding the user's profile and access patterns.\n\n-   **Integrating with Location and Device Analysis:** This node is triggered following alerts from either the `New Location` or `New Device/Browser` nodes. These alerts indicate that the current login attempt is potentially suspicious due to a new location or device/browser being used.\n\n-   **Enriching Security Insight:** By querying detailed user data, the workflow gains a deeper understanding of the user's normal access patterns and profiles. This information can be instrumental in differentiating between legitimate user behavior and potential unauthorized access.",
        "height": 839.4355618292594,
        "width": 442.82773054232473
      },
      "id": "d5e17884-48e8-4111-a20f-2ab0cbe6116f",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('GreyNoise').item.json.riot }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0264327e-f1c8-46b8-8c53-a553ece07195",
      "name": "riot?",
      "type": "n8n-nodes-base.if",
      "position": [
        400,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "priority",
              "value": "游댮 High"
            }
          ]
        },
        "options": {}
      },
      "id": "3975cdb5-c061-4b8f-9a82-0bfa619900a4",
      "name": "游댮 Priority: HIGH",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        944
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "priority",
              "value": "游리 Medium"
            }
          ]
        },
        "options": {}
      },
      "id": "34e16c44-aa21-4dd4-9cd4-65ac57816336",
      "name": "游리 Priority: MEDIUM",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        1072
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "priority",
              "value": "游릭 Low"
            }
          ]
        },
        "options": {}
      },
      "id": "47b007d9-543f-45be-86de-2c4600537c47",
      "name": "游릭 Priority: LOW",
      "type": "n8n-nodes-base.set",
      "position": [
        1056,
        1216
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "=https://api.greynoise.io/v3/community/{{ $json.ip }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "21ff51d7-f20b-41da-bbad-dbe79628637c",
      "name": "GreyNoise",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        160,
        1152
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ip }}",
        "options": {}
      },
      "id": "e2935b6a-9a2b-4efa-a803-ff1662290925",
      "name": "IP API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -96,
        2000
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "url": "https://api.userparser.com/1.1/detect",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ua",
              "value": "={{ $json.userAgent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48d2c6e2-9b8c-440f-8682-01512a61ebd3",
      "name": "UserParser",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -48,
        2240
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {},
      "id": "9a145056-63ea-40b8-9bfa-f58159440e69",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -864,
        1600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return {\n  json:\n  {\n    \"headers\": {\n      \"host\": \"internal.users.n8n.cloud\",\n      \"user-agent\": \"PostmanRuntime/7.32.3\",\n      \"content-length\": \"857\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, deflate, br\",\n      \"content-type\": \"application/json\",\n      \"postman-token\": \"e10e747f-0668-4238-9a3d-148b2c8591da\",\n      \"x-forwarded-for\": \"10.255.0.2\",\n      \"x-forwarded-host\": \"internal.users.n8n.cloud\",\n      \"x-forwarded-port\": \"443\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-server\": \"e591fa1c2d01\",\n      \"x-real-ip\": \"10.255.0.2\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"anonymousId\": \"b4191c58-7d64-4c93-8bb4-479c3c95d283\",\n      \"context\": {\n        \"ip\": \"2.204.248.108\",\n        \"library\": {\n          \"name\": \"analytics.js\",\n          \"version\": \"next-1.53.0\"\n        },\n        \"locale\": \"en-US\",\n        \"page\": {\n          \"path\": \"/login\",\n          \"referrer\": \"https://github.com/\",\n          \"search\": \"\",\n          \"title\": \"n8n.cloud\",\n          \"url\": \"https://stage-app.n8n.cloud/login\"\n        },\n        \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/114.0\"\n      },\n      \"event\": \"User signed in\",\n      \"integrations\": {},\n      \"messageId\": \"ajs-next-a14f5b6e9860c7318a27f1ac05b3182d\",\n      \"originalTimestamp\": \"2023-06-28T11:26:46.302Z\",\n      \"properties\": {},\n      \"receivedAt\": \"2023-06-28T11:26:46.550Z\",\n      \"sentAt\": \"2023-06-28T11:26:46.313Z\",\n      \"timestamp\": \"2023-06-28T11:26:46.539Z\",\n      \"type\": \"track\",\n      \"userId\": \"staging-2055\"\n    }\n  }\n}"
      },
      "id": "b5c4a85f-fbb0-489c-8aa7-5955368d93e0",
      "name": "Example event",
      "type": "n8n-nodes-base.code",
      "position": [
        -608,
        1600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "![webhook](https://i.imgur.com/D6SP9P0.png)\n## Workflow Overview\n\nExperience enhanced cybersecurity with the `Suspicious Login Detection` workflow in n8n, your go-to solution for real-time monitoring and rapid response to suspicious login activities. This workflow is versatile, with both manual and automated webhook triggers to suit your testing and operational needs.\n\nThis [this GreyNoise guide](https://docs.greynoise.io/docs/applying-greynoise-data-to-your-analysis) was used to design the architecture of this workflow and can serve as a guide for making your own version of this workflow.\n\nKey features include:\n\n- Data Extraction: Seamlessly extracts crucial data like IP addresses and user IDs from login events.\n- Triple-Threat Analysis: Splits into three paths for thorough scrutiny, using `GreyNoise` for IP trust assessment, `IP-API` for geolocation insights, and `UserParser` for user agent details.\n- Prioritized Alerts: Assigns alert priorities and swiftly notifies via `Slack`, ensuring immediate attention to high-risk activities.\n- In-depth Investigation: Cross-references login history for anomalies and flags potential threats, keeping your security team a step ahead.\n\n\nEasy to set up and adaptable, this n8n workflow is a powerhouse tool for safeguarding your digital environment. \n\n## 郊윒잺Initial Trigger: Detecting Suspicious Logins\n\nThe initial trigger of this workflow is the detection of new login events. This is achieved through a combination of a webhook (`New /login event` node), set to trigger upon a new /login event, and a manual trigger (`When clicking \"Execute Workflow\"` node) for testing purposes. The webhook is configured to receive data from login events, capturing vital information such as IP addresses and user details.\n\nThis setup is crucial for real-time monitoring of login activities. As soon as a login event occurs, the workflow springs into action, extracting and processing the relevant data using the `Extract relevant data` node. ",
        "height": 1175.5321499586535,
        "width": 794.5711626683587
      },
      "id": "7ad6f4ac-db7e-4236-bb49-c3abd4f03907",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![ipapi](https://i.imgur.com/OMhn14b.png)\n## 游깷 IP Geolocation with IP-API\nThe `IP API` node in the \"Suspicious Login Detection\" workflow adds crucial geolocation context to login events. It queries IP-API for geographical data on the IP address extracted earlier.\n\n-   **Geographical Insight:** This node provides geographical details like country, region, and city, helping to identify unusual login locations that might signal a security risk.\n-   **Enhanced Security Analysis:** The geographical data aids in assessing the legitimacy of login attempts, adding a valuable layer to the security analysis.\n\n### Authentication - Free Tier Available (45 requests/min)\nThis endpoint is limited to `45 requests per minute from an IP address`.\n\nIf you go over the limit your requests will be throttled `(HTTP 429)` until your rate limit window is reset. If you constantly go over the limit your IP address will be banned for 1 hour.\n\nNo authentication needed, [Click here to view documentation.](https://ip-api.com/docs)",
        "height": 736.6018800373852,
        "width": 469.4801859287644
      },
      "id": "d5a498d0-a0ec-43d2-aff2-a963697bac50",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n![userparser](https://i.imgur.com/IxvDyZB.png)\n## 游댃 Merging Geolocation and User Agent Data\n\nIn the \"Suspicious Login Detection\" workflow, the `Merge` node plays a pivotal role in synthesizing information from the `IP API` and `UserParser` nodes.\n\n-   **Data Integration:** The `Merge` node combines data from two key sources: geolocation details from the `IP API` node and user agent information from the `UserParser` node. This integration offers a comprehensive view of each login event.\n\n-   **Comprehensive Analysis:** By merging geolocation and user agent data, the workflow gains a fuller understanding of the context behind each login attempt, crucial for accurately assessing security risks.\n\n-   **Efficient Workflow Design:** The use of the `Merge` node demonstrates n8n's efficient handling of diverse data streams, ensuring that all relevant information is brought together for a cohesive analysis.\n\n\n### Authentication - Free Tier Available (10000 calls / month)\nThis endpoint is limited to `500 calls / day`.\n\nTo set your API key for UserParser, open the `UserParser HTTP Request` node, and add a new authentication credential. Choose `Generic Credential Type` then `Query Auth`. Lastly, under `Credential for Query Auth` set the name to `api_key` and value to your `api key`.\n\n[Click here to view documentation.](https://www.userparser.com/docs/user-agent-and-geoip-lookup-api-v1.1)",
        "height": 1044.866146557656,
        "width": 470.4372486447854
      },
      "id": "1247f42d-e9a8-4a60-9396-44b33b17777a",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        2160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n![userparser](https://i.imgur.com/IxvDyZB.png)\n## 游님 Identifying Device and Browser Anomalies\nthe `Parse User Agent` and `New Device/Browser?` nodes focus on detecting anomalies in device and browser usage for login events.\n\n-   **Parsing User Agent Data:** The `Parse User Agent` node uses the UserParser API to analyze the user agent string from the current login attempt. This node extracts detailed information about the browser, operating system, and device type used for the login, offering crucial insights into the login environment.\n\n-   **Comparing with Historical Data:** After parsing the user agent data, the workflow proceeds to the `New Device/Browser?` node. This node compares the current login's device and browser details against the user's historical data (retrieved by the `Get last 10 logins from the same user` node) to check for any discrepancies.\n\n-   **Detecting New Device or Browser Use:** The `New Device/Browser?` node checks if there's a change in the browser name, operating system, or device type. A change might indicate that the current login is being attempted from a new device or browser, which could be a sign of unauthorized access.\n\n-   **Routing Based on Device and Browser Consistency:** The workflow bifurcates based on this analysis. If a new device or browser is detected, the flow moves to the `New Device/Browser` node, suggesting potential security risks. Conversely, if the device and browser match historical patterns, the `Old Device/Browser` node is activated, indicating a routine login.",
        "height": 845.1421530016269,
        "width": 659.8254746666762
      },
      "id": "064084ec-1dfc-4a6d-b5fb-95d453509573",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        2304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4f166bb2-eede-4c13-8825-662eb59d1015",
      "name": "Known, Do Nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        832,
        2160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "be0c8ee1-6933-457c-b306-3e950d34c0cf",
      "name": "Known Location",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1536,
        2144
      ],
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "954d1a63-484b-403a-bebe-f3752d9fa76f",
      "name": "Old Device/Browser",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1552,
        2480
      ],
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d014587d-5485-42c6-9ddd-05f9cf5cda0e",
      "name": "Not Riot",
      "type": "n8n-nodes-base.noOp",
      "position": [
        656,
        1232
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Inform user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Complete login info",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "riot?": {
      "main": [
        [
          {
            "node": "Check trust level",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Riot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP API": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "noise?": {
      "main": [
        [
          {
            "node": "Check classification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "riot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GreyNoise": {
      "main": [
        [
          {
            "node": "Complete login info",
            "type": "main",
            "index": 0
          },
          {
            "node": "noise?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserParser": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "New Location": {
      "main": [
        [
          {
            "node": "Query user by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example event": {
      "main": [
        [
          {
            "node": "Extract relevant data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New location?": {
      "main": [
        [
          {
            "node": "New Location",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Known Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query IP API1": {
      "main": [
        [
          {
            "node": "New location?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknown threat?": {
      "main": [
        [
          {
            "node": "Get last 10 logins from the same user",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Known, Do Nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User has email?": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New /login event": {
      "main": [
        [
          {
            "node": "Extract relevant data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse User Agent": {
      "main": [
        [
          {
            "node": "New Device/Browser?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query user by ID": {
      "main": [
        [
          {
            "node": "User has email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check trust level": {
      "main": [
        [],
        [
          {
            "node": "游댮 Priority: HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "游리 Priority: MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "游릭 Priority: LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Device/Browser": {
      "main": [
        [
          {
            "node": "Query user by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "游릭 Priority: LOW": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete login info": {
      "main": [
        [
          {
            "node": "Unknown threat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Device/Browser?": {
      "main": [
        [
          {
            "node": "New Device/Browser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Old Device/Browser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "游댮 Priority: HIGH": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check classification": {
      "main": [
        [
          {
            "node": "游댮 Priority: HIGH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "游리 Priority: MEDIUM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "游릭 Priority: LOW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract relevant data": {
      "main": [
        [
          {
            "node": "GreyNoise",
            "type": "main",
            "index": 0
          },
          {
            "node": "UserParser",
            "type": "main",
            "index": 0
          },
          {
            "node": "IP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "游리 Priority: MEDIUM": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Example event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last 10 logins from the same user": {
      "main": [
        [
          {
            "node": "Query IP API1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse User Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2037af20-0389-4ba0-8bfe-06a34a7ec20b",
  "meta": {
    "instanceId": "2e054795eb266fa430683bb616f3e195ac30a3ed41cf98309fb965ae2fab7aba"
  },
  "id": "r7DXBzsI5VR1AHHV",
  "tags": []
}