client/public/workflows/json/Website Scam Risk Detector.json
{
  "name": "Website Scam Risk Detector",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "2bb95c16-4d86-47c0-8d95-94a5f0730530",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        1040,
        1312
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 1"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 2"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 3"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 4"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 5"
            }
          ]
        },
        "options": {}
      },
      "id": "291242d4-0acd-4a29-99e6-08972c404484",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1280,
        1344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "fa5515eb-a3a9-4e13-8dc2-c0f80ff6ca1a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1504,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8ed59229-d411-4fd9-bde6-701e2cd0d093",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        528,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bc63785c-912b-489c-a0c9-eb3b8088827a",
      "name": "SerpAPI3",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        528,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e8fea80b-26cd-4e79-a79b-4b1e3c689595",
      "name": "SerpAPI4",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        528,
        1888
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "84bdab52-3994-43f5-a92a-6b0b0e2b9971",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        240,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "21be80f3-eb57-4c31-9ce0-1d1c37f2fee8",
      "name": "SerpAPI2",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        528,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "dc9e5a4b-0e1f-4130-8e19-fdd3b05a6e57",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        240,
        1200
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "2f3926ff-aef1-4315-9593-a9ffeb77d529",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        240,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "c2ecb683-8afd-44a2-9ab6-670644c4c69a",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        240,
        1888
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "formTitle": "Website URL",
        "formDescription": "https://www.scam.com/",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Website URL"
            }
          ]
        },
        "options": {}
      },
      "id": "3ff6b40e-2eb5-49b9-9a42-478658f1a8ee",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -480,
        1344
      ],
      "webhookId": "ac2c1634-e0db-4595-a463-b87bcd539046",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Website URL'] }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should provide information on the domain age — anything less than 6 months is considered a red flag.\n\nYou should also identify suspicious or cheap top-level domains (TLDs) such as .xyz, .top, .click, or .site, which are less trusted than common ones like .co, .com, or .org.\n\nFinally, examine the SSL certificate. A lack of HTTPS (i.e., using only HTTP) is a red flag.\n\n#Constraints: Only provide information on the above tasks. \n"
        }
      },
      "id": "82e24b13-1688-48de-b15f-f04994209be1",
      "name": "Domain & Technical Details",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        304,
        704
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Website URL'] }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should provide information on whether there are scam reports or warnings on forums like Reddit, Trustpilot, ScamAdviser, or SiteJabber.\n\nCheck whether the website has very low ratings or numerous complaints.\n\nAlso, determine whether multiple people are searching to find out if the website is a scam.\n\n#Constraints: Only provide information on the above tasks."
        }
      },
      "id": "6779e4e8-80e7-4a16-b5bc-a6d92492b2a6",
      "name": "Search Engine Signals",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        304,
        1024
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Website URL'] }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should evaluate for exaggerated discounts, false claims, or fake endorsements.\n\nYou should look for high-end brands being sold at unusually low prices.\n\n#Constraints: Only provide information on the above tasks."
        }
      },
      "id": "fce81230-458c-49e6-a752-1b613171af46",
      "name": "Product & Pricing Patterns",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        320,
        1344
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Website URL'] }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should evaluate the reviews and look for duplicates, vague language, or identical phrasing.\n\nYou should look for poor grammar on the website.\n\nYou should evaluate whether there is a lack of company information or a fake address.\n\n#Constraints: Only provide information on the above tasks."
        }
      },
      "id": "22ba414d-8d0e-4d9c-b322-7ad8fc6cea28",
      "name": "Content Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        304,
        1712
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "Create an Open AI key:\n-Create an Open AI account. \n-Go to platform.openai.com/api-keysAfter creating an account, click on your name in the top right corner. \n-Click on your profile.\n-On the left side click on API keys.\n-Create a new secret key.\n-Give it a name (optional).\n-Create secret key and copy.\n-Open the n8n workflow.\n-Right click and open the first OpenAI chat model under Evaluator tools Agent.\n-Click under credential to connect with and click create new credential.\n-Paste copied API Key in this position in n8n.\n-Use the same API key to open and connect with the OpenAI chat model for the Domain & Technical Details, Search Engine Signals, Product & Pricing Patterns, and Content Analysis Tools Agents.\n-IMPORTANT: This workflow uses GPT-4o and GPT-4o-mini. This cost ~$0.01 per run. You must put money, recommend no more than $5, into your open ai account.\n-Click on your profile again. On left hand side click on billing. Add credit to balance.\n\n-Create SerpiApi account at https://serpapi.com/users/sign_up\n       -After account creation, click on API key and copy it.\n       -Right click open on serp API under the Domain & Technical Details, Search Engine Signals, Product & Pricing Patterns, and Content Analysis tools agent.\n       -Click on credential to connect with.\n       -Copy in API key.\n       -TIP: This workflow uses ~5-15 of the 100 free monthly SerpAPI searches. If you utilize more than 100 searches in a month you can create a new SerpAPI account and connect another API key to the tools agents.\n\n\n\n\nHow to use:\nIn the bottom, click on the on form submission or click the test workflow button. Copy and Past the URL. The workflow will automatically initiate. When it has completed open the Evaluator Tools Agent and click on Logs. Scroll down until you see output. This is your information. It is rated on a scale of 1-10 with 10 being most likely the URL is a scam. I recommend copy and pasting it to a word document for ease of access at a later date. You can always find prior searches by clicking on executions at the top. You then right click and open the Evaluator tools agent. Clicking on logs at the top and you will see the output information again. \n\nDisclaimer:\nThis tool is designed to assist in evaluating the potential risk of websites using AI-generated insights. The scam likelihood score and analysis provided are based on publicly available information and should not be considered a definitive or authoritative assessment. This tool does not guarantee the accuracy, safety, or legitimacy of any website. Users should perform their own due diligence and use independent judgment before engaging with any site.\n\nN8N, OpenAI, its affiliates, and the creators of this workflow are not responsible for any loss, damages, or consequences arising from the use of this tool or the actions taken based on its results.",
        "height": 680,
        "width": 920,
        "color": 5
      },
      "id": "1d12d613-cd86-4929-8095-1a36d2d48318",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Output 1'][0] }}{{ $json['Output 1'][1] }}{{ $json['Output 1'][2] }}{{ $json['Output 1'][3] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive input from various other agents who have evaluated the website and provided information on whether the website has red flags.\n\nThis input will be:\n{{ $json['Output 1'][0] }} {{ $json['Output 1'][1] }} {{ $json['Output 1'][2] }} {{ $json['Output 1'][3] }}\n\nYour goal is to utilize that information and provide the likelihood that the website is a scam on a scale of 1 to 10 — where 10 means almost certainly a scam, and 1 means it appears very trustworthy.\n\nYou should also organize the results from the other agents and provide an overall conclusion about the website.\n\nYou should always include a disclaimer: just because there is a low chance of it being a scam does not mean it is not a scam, and just because there is a high chance of it being a scam does not mean it is not legitimate.\n\nExample output:\n\nDisclaimer: Just because there is a low chance of it being a scam does not mean it is not a scam, and just because there is a high chance of it being a scam does not mean it is not legitimate.\nRisk of website being a scam: 7\n\nDomain and Technical Details:\n{{ $json['Output 1'][0] }}\n\nSearch Engine Signals:\n{{ $json['Output 1'][1] }}\n\nProduct & Pricing Patterns:\n{{ $json['Output 1'][2] }}\n\nContent Analysis:\n{{ $json['Output 1'][3] }}\n\n\n\n\n"
        }
      },
      "id": "d4a15b51-324a-4d73-a2fa-6a1a105ae090",
      "name": "Evaluator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1568,
        1344
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "Limited Warranties\n\nWe do not warrant or represent:\n\nThe completeness or accuracy of the information published from this workflow.\nThat the material generated from this workflow are up to date.\n\nLimitation of liability\n\nWe make no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or suitability for a particular purpose. Further, We do not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this workflow otherwise relating to such materials.\n\nWe are in no event liable for any damages whatsoever that hold connection or are related to the content published by this workflow or users on the services. Users of the services indemnify us against all claims by third parties.\n\nWe will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.\n\nWe will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill.\n\nWe will not be liable to you in respect of any loss or corruption of any data, database or software.\n\nWe will not be liable to you in respect of any special, indirect or consequential loss or damage.",
        "height": 580,
        "width": 680
      },
      "id": "ed8d04e0-49ad-4854-9d0f-bb53b1926aee",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        64
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Domain & Technical Details",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI2": {
      "ai_tool": [
        [
          {
            "node": "Search Engine Signals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI3": {
      "ai_tool": [
        [
          {
            "node": "Product & Pricing Patterns",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI4": {
      "ai_tool": [
        [
          {
            "node": "Content Analysis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Analysis": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Domain & Technical Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Engine Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Product & Pricing Patterns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Content Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Domain & Technical Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Search Engine Signals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Product & Pricing Patterns",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Content Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Engine Signals": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Domain & Technical Details": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product & Pricing Patterns": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e8f3a7a-730f-4495-94d0-2bb204d5062a",
  "meta": {
    "instanceId": "2e054795eb266fa430683bb616f3e195ac30a3ed41cf98309fb965ae2fab7aba"
  },
  "id": "m937MGQKUxSzuv2Q",
  "tags": []
}